<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Перелік дисциплін</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<header>
		Перелік дисциплін
		<div class="butt">
 	 		<a href="../login">Вихід</a>

		</div>
		<div class="butt">
 			<%=user.name%> <%=user.surname%> (<%=user.role%>) 
		</div>
	</header>


	<div class="accordion">
    <%for (var i = 0; i < disciplines.length; i++){%>
		<section id="n<%=i%>">
			<h2><a href="#n<%=i%>"><%=disciplines[i].name%></a></h2>
			<div>
				<div class="linc">
					<a href="index/<%=disciplines[i].url%>"> Журнал оцінок </a>
				</div>
				<div class="linc">
					<a href="index/metodika-visit"> Журнал відвідування </a>
				</div>
			</div>
		</section>
  <%}%>
	</div>
</body>
</html>
