<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Журнал оцінок</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<link rel="stylesheet" type="text/css" href="../css/window.css">
	  <script type="text/javascript" src="../js/jquery.min.js">
  </script>
</head>
<body>
	<style>
		th {
			width: 100px;
			height: 40px;
			max-width: 100px !important;
			max-height: 40px !important;
			overflow: hidden;
		}
	</style>
	<header>
		<%=discipline%>. Журнал оцінок.
		<div class="butt">
 	 		<a href="../login">Вихід</a>

		</div>
		<div class="butt">
 			<%=user.name%>  <%=user.surname%> (<%=user.role%>)
		</div>
	</header>
	<div class="sidebar">
	    <div class="jlinc">
	     <a href="../index" class="buton">Список дисциплін</a>
	    </div>
		<div class="jlinc">
	     <a href="metodika-visit" class="buton">Журнал відвідування</a>
  		</div>
  		<div class="jlinc">
	     <a href="#" class="buton" onclick="new_theme()">Нова тема</a>
  		</div>
  </div>
  <div class="table">
    <table>
    <tr id="date">
      <th rowspan="2">Cписок<br>студентів</th>
         <% for (var n = 0; n < date.length; n++) {%>
     	<th><a href='#addDate'><span onclick="giveTheme('<%=n%>'), getThis(this)"><%=date[n]%><span></a></th>
     	<%}%>
    </tr>
     <tr id="theme">
		<% for (var k = 0; k < theme.length; k++) {%>
     	<th><a href='#addTheme'><span class="theme" onclick="giveTheme('<%=k%>'), getThis(this)"><%=theme[k]%></span></a></th>
     	<%}%>
     	
     </tr>
     <% for (var i = 0; i < students.length; i++) {%>
     <tr class="mark" >
		<td class="nameofstudent"><%= students[i].name%> <%= students[i].surname%> </td>
		<% for (var j = 0; j < marks.length; j++) {%>
		<td><span><%=marks[j][i]%></span><a href="#givemark" class="formark" 
				onclick="giveMark(<%=j%>,<%=i%>,'<%=students[i].name%>','<%=students[i].surname%>'), getThis(this)"><img src="../img/pencil.png" alt="" class="pencil"></a></td>
		<% } %>
     </tr>
     <% } %>
     </table>
  </div>

    <div class="tab1">
      <a href="#" class="overlay" id="givemark" onclick=""></a>
      <div class="popup">
          <div class="addTheme">
            <div class="form">
              <div class="tab-content">
              	<h2 id="valueofmark"></h2>
                <form action="" method="">
                  <div class="field-wrap">
                    <div class="select">
					 <!-- <select >
					    <option value="0" selected>Вкажіть оцінку</option>
					    <option value="1" class="icon-monkey">1</option>
					    <option value="2" class="icon-bear">2</option>
					    <option value="3" class="icon-squirrel">3</option>
					    <option value="4" class="icon-elephant">4</option>
					    <option value="5" class="icon-elephant">5</option>
					</select> -->
					
					<input id="cd-dropdown" class="cd-select" type="text" size=16 class="num_only" value="" placeholder="Введіть значення" onkeyup="this.value=this.value.replace(/[^0-9]+/g,''); isright(this);">
					<script>
					function isright(obj)
					{
					if (obj.value>100) obj.value=100; 
					if (obj.value<0) obj.value=0;
					}
				</script>
					</div>
                  </div>
                  <button class="button button-block" id="submit2" onclick="changefield()">Зберегти</button>
                </form>
              </div>
            </div>
          </div>
       <a class="close" title="Закрыть" href="#"></a>
       </div>
    </div>
    <div class="tab2">
      <a href="#" class="overlay" id="addTheme" onclick=""></a>
      <div class="popup">
          <div class="addTheme">
            <div class="form">
              <div class="tab-content">
                  <div class="field-wrap">
                    <input type="text" required autocomplete="on" name='themetoServer' id="themetoServer" placeholder="Введiть тему"/>
                  </div>
                  <button class="button button-block" id="submit" onclick="changefield()">Зберегти</button>
              </div>
            </div>
          </div>
       <a class="close" title="Закрыть" href="#"></a>
       </div>
    </div>
        <div class="tab3">
      <a href="#" class="overlay" id="addDate" onclick=""></a>
      <div class="popup">
          <div class="addDate">
            <div class="form">
              <div class="tab-content">
                  <div class="field-wrap">
                    <input type="date" required  name='datetoSever' id="datetoSever"/>
                  </div>
                  <button class="button button-block" id="submit3" onclick="alert('WTF')">Зберегти дату</button>
              </div>
            </div>
          </div>
       <a class="close" title="Закрыть" href="#"></a>
       </div>
    </div>
    <script>
    	var paramsId = window.location.pathname.toString();
    	var students_name = [];
    	var number_of_student = -1;
    	var date = -1;
    	let date_to_server = new Date();
    		students_id = [];
    		'<% for (var i = 0; i < students.length; i++) {%>'
    			students_name.push('<%=students[i].name%>' + '<%=students[i].surname%>');
    			students_id.push('<%=students[i]._id%>');
    		'<%}%>'
    	
		var count = 0;
		let position_of_theme;
		function giveTheme(i) {
			console.log(i);
			position_of_theme = i;
		}
		let position_of_this = 'Test';
		function getThis(thiss) {
			position_of_this = thiss; 
		}
	var count_of_theme = '<%=theme.length%>';
		function new_theme(){
			let date = document.getElementById('date');
			let theme = document.getElementById('theme');
			let th1 = document.createElement('th');
			let th2 = document.createElement('th');
			let date_insert = new Date();
			let theme_insert = 'Тема';
			let marks = document.getElementsByClassName('mark');
			
			theme_insert.title = 'Test';
			let btn_marks = [];
			'<% for (var i = 0; i < students.length; i++) {%>'
			btn_marks.push(`<span></span><a href="#givemark" class="formark" 
				onclick="giveMark(` + count_of_theme +`,<%=i%>,'<%=students[i].name%>','<%=students[i].surname%>'),  getThis(this)"><img src="../img/pencil.png" alt="" class="pencil"></a>`);
			'<%}%>'
			th1.innerHTML = `<a href="#addDate"><span onclick="giveTheme('` + count_of_theme + `'), getThis(this)">`+ date_insert.getDate() + `/` + date_insert.getMonth() + `</span></a>`;
			th2.innerHTML = `<a href="#addTheme"><span class="theme" onclick="giveTheme('` + count_of_theme +`'), getThis(this)">Введiть тему</span></a>`;
			count_of_theme++;
			for (let i = 0; i < marks.length; i++) {
				var cell = marks[i].insertCell(-1);
				cell.innerHTML = btn_marks[i];
			}
			date.appendChild(th1);
			theme.appendChild(th2);

			let themetoServer = document.getElementById('themetoServer').value;
	    	var toServer = {
	       		theme: themetoServer,
	       		date: date_insert.getDate() + '/' +  date_insert.getMonth()
      		}

	      $.ajax({
	        url: paramsId + '/addTheme',
	        type: 'POST',
	        data: toServer,
	        cache: false,
	        theme: theme,
	        success: function(response) {	          
	        }
	      });
	      
		  $('#themetoServer, #datetoSever').val('');
		}
		
		function giveMark(n, x, name, surname) {
			$('#valueofmark').text(name + ' ' + surname);
			number_of_student = x;
			position_of_theme = n;
			
		}
		submit3.onclick = function(event) {
	      	event.preventDefault();
	      	let date = document.querySelector('input[type="date"]');
	      	var toServer = {
	      		date: date.value,
	      		position_of_theme: position_of_theme
      		}
	      	console.log(date.value);
	      	$.ajax({
	        url: paramsId + '/addDate',
	        type: 'POST',
	        data: toServer,
	        cache: false,
	        success: function(response) {
	        	position_of_this.innerHTML = response.date;
	        }
	      });
	      };

		submit.onclick = function(event) {
	    	event.preventDefault();
	    	let theme = document.getElementById('themetoServer').value;
	    	var toServer = {
	       		theme: theme,
	       		date: date_to_server.getDate() + '/' + date_to_server.getMonth(),
	       		position_of_theme: position_of_theme
      	}

	      $.ajax({
	        url: paramsId + '/inputTheme',
	        type: 'POST',
	        data: toServer,
	        cache: false,
	        success: function(response) {
	          position_of_this.innerHTML = response.theme;
	          
	        }
	      });
	      
		  $('#themetoServer').val('');
	        }
	        submit2.onclick = function(event) {
	    	event.preventDefault();
	    	let date_to_server = new Date();
	    	var selectvalue = document.getElementById('cd-dropdown').value;
	    	var toServer = {
	       		mark: selectvalue,
	       		number_of_student: number_of_student,
	       		date: date_to_server.getDate() + '/' + date_to_server.getMonth(),
	       		position_of_theme: position_of_theme
	       		// document.getElementById('datetoSever') ? document.getElementById('datetoSever').value; :'date_insert'
      	}
	      $.ajax({
	        url: paramsId + '/givemark',
	        type: 'POST',
	        data: toServer,
	        cache: false,
	        success: function(response) {
	        	position_of_this.previousElementSibling.innerHTML = response.mark; //innerHTML = response.mark;

	        }
	      });
		  $('#cd-dropdown').val('');
	        }
	        $(document).ready(function() {
	        	var themes = document.getElementsByClassName('theme');
	        	var mas_of_text = [];
	        	for (var i = 0; i < themes.length; i++) {
	        		mas_of_text.push(themes[i].innerHTML);
	        		themes[i].title = themes[i].innerHTML;
	        		if(themes[i].innerHTML.length > 49) {
	        			themes[i].innerHTML = themes[i].innerHTML.substring(0, 20) + '...';
	        		}
	        	}
	        	
	        });

    </script>
  	<script src='../js/journal_teacher.js'>
  	
  	</script>
  	<style>
  			input[type="date"]{
			width: 200px;
			color: black;
			font-size: 20px;
		};
  	</style>
</body>
</html>
