<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Журнал оцінок</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<header>
		<%=discipline%>. Журнал оцінок.
		<div class="butt">
 	 		<a href="../login">Вихід</a>

		</div>
		<div class="butt">
 			<%=user.name%>  <%=user.surname%> (<%=user.role%>)
		</div>
	</header>
	<div class="sidebar">
	    <div class="jlinc">
	     <a href="../index" class="buton">Список дисциплін</a>
	    </div>
		<div class="jlinc">
	     <a href="metodika-visit" class="buton">Журнал відвідування</a>
  		</div>
  </div>
  <div class="table">
    <table>
    <tr id="date">
      <th rowspan="2">Cписок<br>студентів</th>
         <% for (var n = 0; n < date.length; n++) {%>
     	<th><%=date[n]%></th>
     	<%}%>
    </tr>
    
     <tr id="theme">
		<% for (var n = 0; n < date.length; n++) {%>
     	<th>Тема</th>
     	<%}%>
     	
     </tr>
     <% for (var i = 0; i < students.length; i++) {%>
     <tr class="mark" >
		<td class="nameofstudent"><%= students[i].name%> <%= students[i].surname%> </td>
		<% for (var j = 0; j < marks.length; j++) {%>
		<td><span><%=marks[j][i]%></span><a href="#givemark"></a></td>
		<% } %>
     </tr>
     <% } %>
     </table>
  </div>
</body>
</html>
